<h1>Volunteer sign in and post new story</h1>

<div class="row">
  <div class="">
    <%= form_for(@current_user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :address %>
        <%= f.text_field :address %>

        <%= f.label :area %>
        <%= f.select(:area, User::AREA_TYPES) %>

        <%= f.label :other %>
        <%= f.text_field :other %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
        <div></div>
        <%= f.submit "Volunteer sign in", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>


